<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <title>Register</title>
  </head>
  <body>
    <style>
      body{
        background-image: url(https://png.pngtree.com/thumb_back/fh260/background/20190222/ourmid/pngtree-yellow-gold-gradient-geometric-background-poster-image_49461.jpg);
    background-size: cover;
    font-family: Georgia, 'Times New Roman', Times, serif;
      }
    </style>
 <div class="container mt-4">
  <form action="/addusers" method="post">
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="Profile">Profile Id</label>
        <input type="text" class="form-control" id="Profile" name="profile" placeholder="Profile ID">
      </div>
      <div class="form-group col-md-6">
        <label for="Name">Name</label>
        <input type="text" class="form-control" id="Name"  name="name" placeholder="Enter Your Name">
      </div>

      <div class="form-group col-md-6">
        <label for="Headline">Headline</label>
        <input type="text" class="form-control" id="Name" name="headline" placeholder="Enter a Headline Describe about Yourself">
      </div>
      
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" name="password" placeholder="enter  password">
      </div>
      <div class="form-group col-md-6">
        <label for="confirmpassword">Confirm Password</label>
        <input type="password" class="form-control" id="confirmpassword" name="confirmpassword" placeholder="confirmpassword">
      </div>
    <button type="submit" class="btn btn-primary">Register</button>
  </form>  
 </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>